
Employee_Management/__pycache__
Employee_Management/migrations


# Pre_Project/__pycache__
# Pre_Project/migrations


# Projects/__pycache__
# Projects/migrations


# Team_Management/__pycache__
# Team_Management/migrations


# Department/__pycache__
# Department/migrations

media

ERPenv